img {
    height: 200px;
    width: 200px;
}
.main-nav{
    background-color: black;
    color: orange;
}
h1 {
    font-size: 18px;
}
h3 {
    font-size: 20px;
}
#spacer{
    padding-top: 50px;
}
#button-container{
    margin-top : 12px;
}
#search {
    width: 400px;
    background-image: url("search.png");
    background-size: 35px 35px;
    background-position: left;
    background-origin: padding-box;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 0px 8px 90px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
}
#search:focus {
    width: 95%;
}
#searchcontain{
  margin-top: 10px;
}
#categcontain{
  margin-top: 10px;
}
#categ {
    width: fill;
    box-sizing: content-box;
    border: 1px solid #ccc;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 100px 8px 40px;
}
#logo-container{
    align-items: right;
}
#logo{
  width:50px;
  height:50px;
}
#logo-text{
    text-shadow: 2px 2px #d3d3d3;
    color:green;
}
#logo-text-con{
    padding-left: 100px;
    padding-bottom: 3px;
    display:inline-flex;
}
