/*
https://coolors.co/474a2c-636940-f1f7ed-91c7b1-0a1128
*/
body{
    background-color: #F1F7ED;
    padding-top: 40px;
    padding-bottom: 40px;
}
img {
    height: 200px;
    width: 250px;
}
.sampleimg{
    width: 30%;
    height: 30%;
}
#spacer{
    margin-top: 10px;
}
h1 {
    font-size: 18px;
}
h3 {
    font-size: 20px;
}
button{
    background-color:#91C7B1;
    border: 1px solid #91C7B1;
    border-radius: 80px;
    padding: 10px 50px 10px 50px;
}
#navcomp1, #navcomp2, #navcomp3 {
    padding-top: 6px;
}
.navbar-inverse {
    color:#474A2C;
    background-color:#474A2C;
    padding-bottom: 5px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none !important;
}

#search {
    width: 700px;
    background-image: url("search.png");
    background-size: 35px 35px;
    background-position: left;
    background-origin: padding-box;
    background-repeat: no-repeat;
    border: 1px solid #474A2C;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 0px 8px 90px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
}
#search:focus {
    width: 95%;
}
#categ {
    width: fill;
    box-sizing: content-box;
    border: 1px solid #ccc;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 10px 100px 10px 40px;
}
.bbtitle{
  border-radius: 80px;
  background-color:#F1F7ED;
  box-sizing: content-box;
  border: 1px solid #F1F7ED;
  padding: 10px 10px 10px 40px;
  width: 150px;
  height: 20px;
}
.browseby {
  border-radius: 80px;
  background-color:#636940;
  box-sizing: content-box;
  border: 1px solid #636940;
  padding: 10px 10px 10px 40px;
  width: 150px;
  height: 20px;
}
#logo{
  width:auto;
  height:50px;
}
#logo-text{
    text-shadow: 2px 2px #121212;
    color:#73BFB8;
    position:   ;
    vertical-align: left;
}
#logo-text-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    padding-left: 50px;
    padding-right: 50px;
}
.jumbotron{
    background-color: #91C7B1 !important;
}
.book-container{
  display: flex;
}
