/*
https://coolors.co/474a2c-636940-f1f7ed-91c7b1-0a1128
*/
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F1F7ED;
    padding-top: 40px;
    padding-bottom: 40px;
}
img {
    height: 200px;
    width: 250px;
}
.sampleimg{
    width: 30%;
    height: 30%;
}
#spacer{
    margin-top: 10px;
}
h1 {
    font-size: 18px;
}
h3 {
    font-size: 20px;
}
button{
    background-color:#91C7B1;
    border: 1px solid #91C7B1;
    border-radius: 80px;
    padding: 10px 50px 10px 50px;
}
#navcomp1, #navcomp2, #navcomp3, #navcomp4 {
    padding-top: 6px;
}
.navbar-inverse {
    color:#474A2C;
    background-color:#474A2C;
    padding-bottom: 5px;
}

#search {
    width: 700px;
    background-image: url("search.png");
    background-size: 35px 35px;
    background-position: left;
    background-origin: padding-box;
    background-repeat: no-repeat;
    border: 1px solid #474A2C;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 8px 0px 8px 90px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
}
#search:focus {
    width: 95%;
}
#categ {
    width: fill;
    box-sizing: content-box;
    border: 1px solid #ccc;
    border-radius: 80px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 10px 100px 10px 40px;
}
.bbtitle{
  border-radius: 80px;
  background-color:#F1F7ED;
  box-sizing: content-box;
  border: 1px solid #F1F7ED;
  padding: 10px 10px 10px 40px;
  width: 150px;
  height: 20px;
}
.browseby {
  border-radius: 80px;
  background-color:#636940;
  box-sizing: content-box;
  border: 1px solid #636940;
  padding: 10px 10px 10px 40px;
  width: 150px;
  height: 20px;
}
.browseby:hover, #categBtn {
    background-color: orange;
}
#logo{
  width:auto;
  height:50px;
}
#logo-text-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: none;
    color:inherit;
}
#catCon{
    margin-left: 100px;
    margin-right: 100px;
    background:gray;
    display:none;
    padding-bottom:150px;
}

#categBtn{
    margin-top: 20px;
    background-color:#636940;
    border: 1px solid #636940;
    height:40px;
    border-radius: 80px;
    padding: 0px 50px 0px 50px;
}
#buttonfix{
    margin-top: -10px;
}

/*TODO*/
#book-search-container{
    margin:50px;
    border: 1px solid #91C7B1;
    padding:10px;
}
.booksearchbutton{
    width:200px;
    margin: 3px;
}
.booksearchbutton:hover{
    background-color: green;
}
#cont{
    padding-top: 50px;
}
